In [1]:
# Import and create a new SQLContext

In [2]:
# Read the country CSV file into an RDD.
#country_lines = sc.textFile('file:///home/../country-list.csv')

In [ ]:
# Convert each line into a pair of words

In [ ]:
# Convert each pair of words into a tuple

In [ ]:
# Create the DataFrame, look at schema and contents
countryDF = sqlContext.createDataFrame(country_tuples, ["country", "code"])
countryDF.printSchema()
countryDF.take(3)

In [ ]:
# Read tweets CSV file into RDD of lines

In [ ]:
# Clean the data: some tweets are empty. Remove the empty tweets using filter()

In [ ]:
# Perform WordCount on the cleaned tweet texts. (note: this is several lines.)

In [ ]:
# Create the DataFrame of tweet word counts

In [ ]:
# Join the country and tweet DataFrames (on the appropriate column)

In [ ]:
# Question 1: number of distinct countries mentioned

In [ ]:
# Question 2: number of countries mentioned in tweets.
from pyspark.sql.functions import sum

In [ ]:
# Table 1: top three countries and their counts.
from pyspark.sql.functions import desc

In [ ]:
# Table 2: counts for Wales, Iceland, and Japan.

Parte 2: All world cup players

In [ ]:
# el dataset correspondiente a este parte esta en /data/json/all-world-cup-players.json

In [ ]:
# Load the JSON using the Spark Context wholeTextFiles method which produces a tuple RDD 
# whose 1st element is a filename and the 2nd element is the data with lines separated by 
# whitespace. We use map to create the new RDD using the 2nd element of the tuple.

In [ ]:
# Prepare the RDD so it can be parsed by sqlContext such as remove the whitespace

In [ ]:
# Consume the RDD using jsonRDD of sqlContext

In [4]:
# Obtener la la lista de equipos